{% extends 'tendersapp/index.html' %}

{% block content %}
    <h2>{{tender_review.business_name}}</h2>
    <h3>{{tender_review.location}}</h3>
    <p>submitted on: {{tender_review.date_published}}</p>
    <p>{{tender_review.food_image}}</p>
    <p>sauce synopsis: {{tender_review.sauces}}</p>
    <p>sides: {{tender_review.sides}}</p>
    <p>commentary: {{tender_review.description}}</p>
    <p>rating: {{tender_review.description}}/5</p>
    <p>recommend?: {{tender_review.recommend}}</p>
    
    <div><a href="{% url 'tendersapp:index' %}">back</a></div>
{% endblock %}
