<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
{% block content %}
    <h2>Written by: {{tender_review.username}}</h2>
    <h2>Member since: {{user.date_joined}}</h2>
    <h2>{{tender_review.business_name}}</h2>
    <h3>{{tender_review.location}}</h3>
    <p>submitted on: {{tender_review.date_published}}</p>
    <img src="{{tender_review.food_image.url}}"/>
    <p>sauce synopsis: {{tender_review.sauces}}</p>
    <p>sides: {{tender_review.sides}}</p>
    <p>commentary: {{tender_review.description}}</p>
    <p>rating: {{tender_review.rating}}/5</p>
    <p>recommend?: {{tender_review.recommend}}</p>

    <div><a href="{% url 'tendersapp:index' %}">back</a></div>
{% endblock %}

</body>

</html>