<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Me Tenders</title>
</head>
<body>
{% block content %}    
    <a href="{% url 'tendersapp:new_user' %}">Create Account</a><br>
    <a href="{% url 'tendersapp:new_review' %}">Create New Review</a>
    <a href="{% url 'tendersapp:user_list' %}">Users</a>
    <ul>
        {% for tender_review in tenders_review %}
        <li><a href="/tendersapp/{{review.id}}">{{ tender_review.business_name }}, {{ tender_review.location }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}    
</body>
</html>