<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .user_info {
            display: inline-block;
        }

        .biz_info {
            display: inline-block;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">
            <h1> Welcome {{user}}!</h1>
        </a>
        <button class="btn btn-light btn-lg ml-auto" type="submit"><a
                href="{% url 'tendersapp:index' %}">Menu</a></button>
    </nav>
    {% block content %}
    <h3>Create a new tender review:</h3>
    <form action="{% url 'tendersapp:submit_review' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <span class="user_info">
            <h3>Tender Connoisseur Info:</h3>
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name">

            <label for="last_initial">Last Name Initial:</label>
            <input type="text" name="last_initial" id="last_initial">
        </span><br>

        <span class="biz_info">
            <h3>Business Info:</h3>
            <label for="business_name">Business:</label>
            <input type="text" name="business_name" id="business_name">

            <label for="address">Address:</label>
            <input type="text" name="address" id="address">

            <label for="city">City:</label>
            <input type="text" name="city" id="city">

            <label for="state">State:</label>
            <select name="state" id="state">
                <option>AL</option>
                <option>AK</option>
                <option>AR</option>
                <option>AZ</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>HI</option>
                <option>IA</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>MA</option>
                <option>MD</option>
                <option>ME</option>
                <option>MI</option>
                <option>MN</option>
                <option>MS</option>
                <option>MT</option>
                <option>NC</option>
                <option>ND</option>
                <option>NE</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NV</option>
                <option>NY</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>SD</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VA</option>
                <option>VT</option>
                <option>WA</option>
                <option>WI</option>
                <option>WV</option>
                <option>WY</option>
            </select>
        </span><br>

        <span class="chicken_info">
            <h3>The Nitty Gritty:</h3>
            <label for="sides">What kind of sides did you have?:</label>
            <input type="text" name="sides" id="sides">

            <label for="sauces">Tell us about them dipping sauces:</label>
            <input type="text" name="sauces" id="sauces"><br>

            <label for="description">Synopsis:</label><br>
            <textarea name="description"
                id="description">Tell us about the tenders(i.e meat quality, breading, spices etc.): </textarea><br><br>

            <label for="rating">Rating out of 10:</label><br>
            <select name="rating" id="rating">
                <option>10</option>
                <option>9</option>
                <option>8</option>
                <option>7</option>
                <option>6</option>
                <option>5</option>
                <option>4</option>
                <option>3</option>
                <option>2</option>
                <option>1</option>
            </select><br>
            
            <label for="recommend">Would you recommend these tendies?:</label><br>
            <input type="checkbox" name="recommend">YES!</input><br>
        </span><br>

        <p>Upload upto 3 images:</p>
        <label for="food_image">Image 1(default):</label><br>
        <input type="file" name="food_image" accept="image/*"><br>

        <label for="food_image">Image 2:</label><br>
        <input type="file" name="food_image" accept="image/*"><br>

        <label for="food_image">Image 3:</label><br>
        <input type="file" name="food_image" accept="image/*"><br>

        <label for="menu_image">Upload Menu:</label><br>
        <input type="file" name="menu_image" accept="image/*"><br>


        <button class="btn btn-success btn-lg ml-auto" type="submit">submit</button>

    </form>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>