<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h1> Welcome {{user}}!</h1></a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a href="{% url 'tendersapp:index' %}">Menu</a></button>
        </nav>
    {% block content %}
    <h3>Create a new tender review:</h3>
    <form action="{% url 'tendersapp:submit_review' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Select username:</label><br>
        <select name="username" id="username">
            <option>{{user}}</option>
        </select><br>
        <label for="business_name">Business:</label><br>
        <input type="text" name="business_name" id="business_name"><br>

        <label for="location">Location:</label><br>
        <input type="text" name="location" id="location"><br>
        
        <label for="sides">What kind of sides did you have?:</label><br>
        <input type="text" name="sides" id="sides"><br>
        
        <label for="sauces">Tell us about them dipping sauces:</label><br>
        <input type="text" name="sauces" id="sauces"><br>
        
        <label for="description">Synopsis:</label><br>
        <textarea name="description" id="description">Tell us about the tenders(i.e meat quality, breading, spices etc.): </textarea><br>
    
        <label for="rating">Rating out of 5(0.0-5.0):</label><br>
        <input type="number" name="rating" id="rating"><br>
        
        
        <label for="food_image">Upload Image:</label><br>
        <input type="file" name="food_image" accept="image/*"><br>
        
        <label for="recommend">Would you recommend these tendies?:</label><br>
        <input type="checkbox" name="recommend">YES!</input><br>
        
        <button type="submit">submit</button>
    
    </form>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>    
</body>
</html>
    
