{% extends 'tendersapp/index.html' %}

<h3>Welcome to Love Me Tenders!</h3>
<h2>Please create a login:</h2>
<form class="" action="{% url 'tendersapp:submit_user' %}" method="post">
    {% csrf_token %}
    <label for="uname">username:</label><br>
    <input type = "text" name="username" id="uname">
    <label for="fname">First name:</label><br>
    <input type = "text" name="first_name" id="fname">
    <label for="lname">Last name:</label><br>
    <input type = "text" name="last_name" id="lname">
    <label for="email">Email address:</label><br>
    <input type = "text" name="email_address" id="email">
    <label for="fname">First name:</label><br>
    <input type = "text" name="username" placeholder="username">
    <label for="location">Location:</label><br>
    <input type = "text" name="user_location" id="location">
    <label for="user_image">Upload Image:</label><br>
    <input type = "image" name="user_image" id="user_image">
    <label for="user_bio">Bio:</label><br>
    <textarea name="user_bio" id="user_bio">Tell us a little bit about yourself...</textarea>
    <button type="submit">submit</button>

</form>